html {
    padding-top: 70px;
}

body {
    background-color: white;
    transition: background-color 1s;
}

    body.dark {
        background-color: black;
    }

h2 {
    font-size: 20px;
}

#search-bg {
    background-image: url("https://i.imgur.com/OmjYDvF.png");
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    filter: blur(25px);
    top: 0;
    left: 0;
    transition: opacity 200ms, transform 500ms;
    transition-timing-function: ease-out;
}

.search-bg.dark.search-bg-animation-out, .search-bg.dark.search-bg-animation-in, search-bg.dark {
    background-image: url("https://i.imgur.com/GDjYS6T.png") !important;
}

.search-bg-animation-out {
    opacity: 0;
    transform: scale(1.0, 1.0);
    z-index: -10;
}

.search-bg-animation-in {
    opacity: 1;
    transform: scale(1.1, 1.1);
    z-index: 10;
}
#search-mod {
    width: 100vw;
    height: 400px;
    position: fixed;
    left: 0;
    z-index: 100;
    transition: opacity 1000ms, top 500ms;
    transition-timing-function: ease-out;
}
.search-mod-animation-out {
    top: 15%;
    opacity: 0;
    transition: opacity 100ms, top 200ms;
}
.search-mod-animation-in {
    top: 20%;
    opacity: 1;
}
#title-search-center {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
}
#search-close {
    position: relative;
    font-size: 12px;
    color: gray;
    top: -120px; 
    cursor: pointer;
}

#search-result {
    margin-top: 20px;
    width: 60%;
    border-radius: 5px;
    min-height: 100px;
    padding: 20px;
    border: 1px solid #006dcc;
}
#search-close:hover {
    text-decoration: underline;
}
#title-search {
    width: 50%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    height: 40px;
    font-size: 18px;
    transition: border 400ms;
    background-color: rgba(0, 0, 0, 0);
}
    #title-search:active, #title-search:focus {
        border-bottom: 1px solid #006dcc;
    }
#title-search-submit {
    width: 8%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1px solid #006dcc;
    color: #006dcc;
    transition: color 200ms, background-color 200ms;
    cursor: pointer;
}
    #title-search-submit:hover {
        color: white;
        background-color: #006dcc;
        cursor: pointer;
    }
#title-search:active, #title-search:focus, #title-search-submit:active, #title-search-submit:focus {
    outline: none;
}

.mod {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    padding: 10px;
}

.mod-body {
    background-color: rgb(245, 245, 245);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    min-height: 150px;
    border: 1px solid rgb(235, 235, 235);
    border-top: none;
    transition: background-color 500ms, color 500ms;
}

    .mod-body.dark {
        background-color: rgb(42, 42, 42);
        color: white;
        border: 1px solid rgb(37, 37, 37);
    }

    #search-result-title {
        text-align: left;
        width: 100%;
    }
#search-result-date {
    text-align: right;
        width: 100%;
}

.mod-header {
    background: linear-gradient(rgb(245, 245, 245), rgb(235, 235, 235));
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    height: 40px;
    transition: background-color 500ms, color 500ms;
}

    .mod-header.dark {
        background: rgb(30, 30, 30);
        color: white;
    }

.col, .col-lg-12, .col-md-6 {
    padding: 0;
}

.red {
    color: red;
}

.center {
    display: inline-block;
}

    .center button {
        position: absolute;
        right: 10px;
        top: 11px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

.padabove {
    margin-top: 10px;
}

#total-reset {
    margin-bottom: 40px;
}

footer {
    padding-top: 10px;
    width: 100vw;
    height: 80px;
    background: linear-gradient(rgb(45, 45, 45), rgb(35, 35, 35));
    color: white;
    font-weight: 200;
    font-size: 12px;
    padding-left: 20px;
}

    footer p {
        margin: 0px;
        padding: 0px;
    }

.err-msg, .err-link {
    width: 50%;
    overflow: hidden;
}

#error-body, .mod-body.erro {
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 400px;
    max-width: 100%;
}

header {
    padding-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding-left: 10%;
    color: white;
    background: linear-gradient(rgb(45, 45, 45), rgb(35, 35, 35));
    z-index: 100;
}

    header h3 {
        font-weight: 500;
        color: #006dcc;
    }

    header a {
        text-decoration: none;
        color: white;
        width: 300px;
    }

        header a:hover {
            color: white;
            text-decoration: none;
        }

.thin {
    font-weight: 100;
    color: white;
}

.settings {
    opacity: 1;
    position: fixed;
    top: 75px;
    right: 20%;
    width: 250px;
    height: 250px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 5px;
    padding: 20px;
    border: 1px solid rgb(235, 235, 235);
    z-index: 150;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.4);
    transition: top 500ms, opacity 500ms, background-color 500ms, color 500ms;
}

    .settings.dark {
        border: 1px solid rgb(37, 37, 37);
        background-color: rgb(42, 42, 42);
        color: white;
    }

.settings-animation-in {
    top: 75px;
    opacity: 1;
    transition: top 500ms, opacity 500ms;
}

.settings-animation-out {
    top: 50px;
    opacity: 0;
    transition: top 500ms, opacity 200ms;
}

.settings-header {
    color: white;
    font-weight: 500;
    width: 250px;
    height: 40px;
    margin-top: -20px;
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -21px;
    background: linear-gradient(rgb(45, 45, 45), rgb(35, 35, 35));
    margin-bottom: 20px;
}

.refresh-rate-input {
    background-color: rgb(230, 230, 230) !important;
    color: rgb(30, 30, 30) !important;
    border: none;
    transition: color 500ms, background-color 500ms;
}

    .refresh-rate-input.dark {
        color: rgb(230, 230, 230) !important;
        background-color: rgb(30, 30, 30) !important;
    }

#settings-close {
    font-weight: 200;
    position: absolute;
    top: 5px;
    right: 10px;
    transform: scale(1.2, 0.9);
    cursor: pointer;
}

#settings-open {
    position: absolute;
    right: 30%;
    top: 15px;
}

    #settings-open:hover {
        text-decoration: underline;
    }
#search-open {
    position: absolute;
    color: #006dcc !important;
    right: 40%;
    top: 15px;
}

    #search-open:hover {
        text-decoration: underline;
    }

.badge {
    position: fixed;
    bottom: -100px;
    font-size: 20px;
    padding-top: 2em;
    left: 50%;
    transform: translateX(-40vw);
    width: 80vw;
    min-height: 100px;
    border-radius: 5px;
    color: white;
    background-color: lightgoldenrodyellow;
    background: linear-gradient(rgb(45, 45, 45), rgb(35, 35, 35));
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.4);
    transition: bottom 500ms;
    transition-timing-function: ease-in-out;
}

#link0,
#link1,
#link2,
#link3,
#link4,
#link5,
#link6,
#link7,
#link8,
#link9 {
    width: 50%;
    overflow: hidden;
}

#lastten, #lastten-body, #lastten-mod {
    overflow: hidden;
}

.badge.show {
    bottom: 50px;
}

.badge-message {
    width: 100%;
}
